.container {
    margin: 50px 0;
    width: 800px;
}

.card {
    margin: 0 2% !important;
    border: solid rgb(206, 45, 45) 4px;
}

.infected {
    border-bottom: 10px solid rgba(72, 219, 14, 0.5);
}

.recovered {
    border-bottom: 10px solid rgba(72, 219, 14, 0.5);
}

.deaths {
    border-bottom: 10px solid rgba(72, 219, 14, 0.5);
}