body {
    background-color: rgb(250, 250, 250);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(83, 211, 200);
}

#dropdown {
    background-color: white;
    color: white;
}

#dropdown2 {
    background-color: white;
    color: white;
}

.MuiNativeSelect-root {
    background-color: white;
    color: white
}

.MuiNativeSelect-select { 
    background-color: white;
    color: white;
}