body {
    background-color: rgb(100, 95, 95);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img {
    width: 400px;
    height: 140px;
}